{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
{% endblock css %}

{% block contents %}
<div class="sign-up" style="margin-top:100px"></div>
<div id="post_id" style="display : none">
    {% for blog in blogs.all %}
    {{blog.id}},
    {% endfor %}
</div>

<div id="post_lat" style="display : none">
    {% for blog in blogs.all %}
    {{blog.latitude}},
    {% endfor %}
</div>

<div id="post_lng" style="display : none">
    {% for blog in blogs.all %}
    {{blog.longtitude}},
    {% endfor %}
</div>

<div id="post_title" style="display : none">
    {% for blog in blogs.all %}
    {{blog.title}},
    {% endfor %}
</div>

<div id="post_rating" style="display : none">
    {% for blog in blogs.all %}
    {{blog.rating}},
    {% endfor %}
</div>

<div id="post_content" style="display : none">
    {% for blog in blogs.all %}
    {{blog.content}},
    {% endfor %}
</div>

<div id="post_image" style="display : none">
    {% for blog in blogs.all %}
    {{blog.image.url}},
    {% endfor %}
</div>


<!-- 프로필 영역 -->

<main>
    <div class="profile">
        {% if profile.image %}
        <img src="{{profile.image.url}}" alt="" width="320" height="100" class="profile-image">
        {% else %}
        <img src="http://placehold.it/320x100" alt="" class="profile-image">
        {% endif %}

        <div class="card-content">
            <h1 class="nick-name">{{profile.nickname}}</h1> <!-- 닉네임 -->
            <p class="profile-id">{{profile.user.username}}</p> <!-- 아이디 -->

            <dl class="profile-detail">
                <div class="profile-detail-item">
                    <dt>팔로워</dt>
                    <dd>
                        {{followers.count}}
                    </dd>
                </div>
                <div class="profile-detail-item">
                    <dt>뱃지</dt>
                    <dd>
                        완등수해야함
                    </dd>
                </div>
                <div class="profile-detail-item">
                    <dt>게시글</dt>
                    <dd>
                        {{boards.count}}
                    </dd>
                </div>
            </dl>
            <div class="share-button">
                <!-- 버튼 디자인 추가 필요 -->
                {%if request.user == profile.user or request.user.is_staff %}
                <!-- 댓글쓴이와 로그인한 유저가 같을 때 보이는 화면 -->
                <form action="{% url 'board_create' %}">
                    <button type="submit" class="btn btn-light" value="">게시글 쓰기</button>
                </form>
                <form action="{% url 'create' %}">
                    <button type="submit" class="btn btn-light" value="">경로 공유하기</button>
                </form>
                <form action="{% url 'update_profile' user.username %}">
                    <button type="submit" class="btn btn-light" value="">프로필 편집</button>
                </form>
                {%endif%}
                <!--구분-->
                {%if request.user != profile.user or request.user.is_staff %}
                <!-- 댓글쓴이와 로그인한 유저가 다를 때 보이는 화면 -->
                <button id="{{profile.user.id}}" onclick="follow(this.id)">
                    {% if request.user in profile.following.all %}
                    <!-- 로그인한 유저가 팔로우한 유저일때-->
                    <i id="heart" class="fas fa-heart"></i>
                    {% else %}
                    <!-- 로그인한 유저가 팔로우한 유저가 아닐때 -->
                    <i id="heart" class="far fa-heart"></i>
                    {% endif %}
                </button>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="under-bar">
        <ul class="small-menu nav">
            <li class="small-menu-item active">
                <a class="nav-link active" data-toggle="tab" href="#board_view">게시글</a>
            </li>
            <li class="small-menu-item">
                <a class="nav-link" data-toggle="tab" href="#map_view">지도</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="board_view">
                <!-- 사진만 나오는 화면-->
                {% for blog in posts %}
                <span id="post_image" style="">
                    <img src="{{blog.image.url}}" alt=" " style="width: 150px; height: 150px;float:left; width:33%"
                        onclick="javascript:location.href='{% url 'detail' blog.id %}'">
                </span>
                {% if forloop.counter|divisibleby:"3" %}
                <br>
                {% endif %}
                {% endfor %}

                {%if posts.has_previous%}
                <a href="?page={{posts.previous_page_number}}">Previous</a>
                {%endif%}
                <span>{{posts.number}}</span>
                {%if posts.has_next%}
                <a href="?page={{posts.next_page_number}}">Next</a>
                {%endif%}

            </div>
            <!--구분선---------------->

            <div class="fade" id="map_view">
                <!-- 지도가 나오는 화면-->
                <div class="class_map" style="margin-left:30%;">
                    <div class="main_container"></div>
                    <div class="main-map">
                        <div id="map" style="width:450px;height:450px;"></div>
                        <script type="text/javascript"
                            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dfad8c8cf0702820c5111f7c4c05eb6&libraries=services"></script>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



<script type="text/javascript">
    function follow(id) {
        $.ajax({
            url: "{%url 'follow' %}", // data를 전송할 url 입니다.
            data: {
                'profile_id': id
            }, // profile_id 라는 name으로 id 값 전송
            dataType: "json",
            success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                $('#message').html(response.message) //id가 message의 내용을 전송받은 message로 바꾼다
                $('.toast').fadeIn(400).delay(100).fadeOut(400) //class가 toast인 것을 서서히 나타나게 하는 메서드입니다.
                if (response.message == "팔로우")
                //좋아요 눌렀을 때 
                {
                    $('#heart').attr("class", "fas fa-heart")
                } else if (response.message == "팔로우 취소")
                //좋아요 상태에서 다시 눌렀을 때 
                {
                    $('#heart').attr("class", "far fa-heart")
                }
            }
        })
    }
</script>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(35.871016, 127.7), // 지도의 중심좌표
            level: 13 // 지도의 확대 레벨
        };

    //지도 생성 및 객체 리턴함
    var map = new kakao.maps.Map(mapContainer, mapOption);

    var list_id = document.getElementById("post_id").innerText.split(',');
    var list_lat = document.getElementById("post_lat").innerText.split(',');
    var list_lng = document.getElementById("post_lng").innerText.split(',');
    var list_title = document.getElementById("post_title").innerText.split(',');
    var list_content = document.getElementById("post_content").innerText.split(',');
    var list_rating = document.getElementById("post_rating").innerText.split(',');
    var list_image = document.getElementById("post_image").innerText.split(',');

    var postPosition = [];
    for (var idx = 0; idx < list_lat.length; idx++) {
        var data_id = list_id[idx];
        var data_lat = list_lat[idx];
        var data_lng = list_lng[idx];
        var data_title = list_title[idx];
        var data_content = list_content[idx];
        var data_rating = list_rating[idx];
        var data_image = list_image[idx];
        addMarker(new kakao.maps.LatLng(data_lat, data_lng), data_id, data_title, data_content, data_rating, data_image);

    }

    function addMarker(position, d_id, d_title, d_content, d_rating, d_image) {
        var marker = new kakao.maps.Marker({
            map: map,
            position: position,
            clickable: true
        });

        var content = '<div class="wrap">' +
            '       <div class="info">' +
            '           <div class="title">' +
            d_title +
            '           </div>' +
            '           <div class="body">' +
            '               <div class="img">' +
            '                   <img src="' + d_image + '" width="73" height="70">' +
            '               </div>' +
            '           <div class="desc">' +
            '               <div class="">평점' + d_rating + '</div>' +
            '               <div class="">위치' + position + '</div>' +
            '               <div class="">한줄평' + d_content + '</div>' +
            '           </div>' +
            '       </div>' +
            '   </div>' +
            '</div>';
        var overlay = new kakao.maps.CustomOverlay({
            content: content,
            map: map,
            position: marker.getPosition()
        });

        overlay.setMap(null);

        kakao.maps.event.addListener(marker, 'mouseover', function () {
            overlay.setMap(map)
        });

        kakao.maps.event.addListener(marker, 'mouseout', function () {
            overlay.setMap(null)
        });
        kakao.maps.event.addListener(marker, 'click', function () {
            var url = "{% url 'detail' 1 %}";
            var id = Number(d_id);
            console.log(d_id);
            location.href = url.replace('1', id);
        });
    }
</script>
{% endblock %}